<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); -%>
</head>

<body>
    <header>
        <%- include('../partials/header'); -%>
    </header>
    <section class="main" role="main">
        <div class="container-fluid">
            <div class="row">
                <%- include('../partials/navbar'); -%>
                    <div class="col-md-11">
                        <div class="main-content">
                            <%- include('../partials/action'); -%>
                                <!-- Content -->
                                <% switch (page_layout) { 
                                    case '/' :
                                    case '/dashboard' : %>
                                    <%- include('./home'); -%>
                                    <% break; 
                                    case '/orders' : %>
                                    <%- include('./orders'); -%>
                                    <% break; 
                                    case '/product' : %>
                                    <%- include('./product'); -%>
                                    <% break; 
                                    case '/customer' : %>
                                    <%- include('./customer'); -%>
                                    <% break; 
                                    case '/input' : %>
                                    <%- include('./input'); -%>
                                    <% break; 
                                    case '/revenue' : %>
                                    <%- include('./revenue'); -%>
                                    <% break; 
                                    case '/profit' : %>
                                    <%- include('./profit'); -%>
                                    <% break; 
                                    case '/setting' : %>
                                    <%- include('./setting'); -%>
                                    <% break; 
                                    case '/pos' : %>
                                    <%- include('./pos'); -%>
                                    <% break; 
                                        default: break; 
                                } %>
                        </div>
                    </div>
            </div>
        </div>
    </section>
</body>
<script src="../../public/templates/js/select2.min.js"></script>
<script src="../../public/templates/js/jquery-ui.min.js"></script>
<script src="../../public/templates/js/html5shiv.min.js"></script>
<script src="../../public/templates/js/respond.min.js"></script>
<script src="../../public/templates/js/bootstrap.min.js"></script>
<script src="../../public/templates/js/jquery.datetimepicker.full.js"></script>
<script src="../../public/templates/js/bootstrap-datepicker.min.js"></script>
<script src="../../public/templates/js/bootstrap-datepicker.vi.min.js"></script>
<script src="../../public/templates/js/ckeditor.js"></script>
<script src="../../public/templates/js/editor.js"></script>
<script src="../../public/templates/js/ajax2.js"></script>
<script src="../../public/templates/js/bootstrap-tagsinput.min.js"></script>

</html>
